.nav-bar {
  background-color: #00aaff;
  padding: 15px 100px;
  margin-bottom: 50px;
  position: sticky;
  top: 0;

  p {
    font-size: 30px;
    cursor: pointer;
    width: fit-content;
  }
}

.global-content {
  padding: 30px 30px 0;
  margin-bottom: 100px;
}